*{
    margin: 0;
    padding: 0;
      -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*::before,*::after{
      -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.topber{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 64px;
    background-color: #d43c33;
    box-sizing: border-box;
}
.topber svg{
    width: 142px;
    height: 25px;
}
.topber a {
    border-radius: 37.5%/100%;
    border: 1px solid #fff;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

.nav ol{
    list-style: none;
    display: flex;
    text-align: center;
    border-bottom: 1px solid #cccccc; 
}
.nav ol > li{
    flex: 1;
}
.nav ol > li.active{
    color: #d43c33;
}
.nav ol > li > span{
    display: inline-block;
    line-height: 40px;
    position: relative;
}
.nav ol > li.active>span::before{
    content: '';
    position: absolute;
    bottom: 0; 
    border-bottom: 2px solid #d43c33;
    left: -6px;
    right: -6px;
}
.playLists h2:first-child{
    padding-left: 9px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    border-left:  2px solid #d43c33;
}
.playLists ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.playLists ul li img{
    width: 100%;
}
.playLists ul li{
    width: calc(33.333% - 0.5%);
    font-size: 12px;
} 
.playLists ul li p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 6px 2px 0 6px;
    line-height: 1.2;
    font-size: 13px;
    margin-bottom: 16px;
}
.latelyMusic ol {
    list-style: none;
}
.latelyMusic > h2:first-child{
    padding-left: 9px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    border-left:  2px solid #d43c33;
}
.latelyMusic ol li{
    position: relative;
    border-bottom: 1px solid #cccccc;
    margin-left: 11px;
    padding: 6px 0;
    text-overflow: ellipsis;
}
.latelyMusic ol li h3{
    font-size: 17px;
}
.latelyMusic ol li p{
    font-size: 12px;
    color: #888;
    display: flex;
}
.latelyMusic ol li .icon{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.latelyMusic ol li .sq{
    width: 18px;
    height: 15px;
    vertical-align: middle;
    fill: #FE733E;
}
.footer{
    background: url(../img/recommand_bg_2x.png) no-repeat center 0;
    padding-top: 16.9%;
    text-align: center; 
    padding-bottom: 20px;
}
.footer a {
    display: block;
    line-height: 38px;
    border: 1px solid #d33a31;
    border-radius: 38px;
    font-size: 16px;
    color: #d33a31;
    margin: 15px 37px 5px;
    text-decoration: none;
}
.footer .footer-logo{

}
.footer .footer-logo .logosvg {
    width: 230px;
    height: 44px;
}
.footer .copyright{
    color: #888;
    font-size: 12px;
    line-height: 16px;
    -webkit-transform: scale(.75);
    transform: scale(.75);
}